// importo bootstrap
@import "~bootstrap/scss/bootstrap";
$base_color: #be9359;
$secondary_color:#b1b1b1;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.button_gold{
    color: $base_color;
    font-size: 20px;
    border: 3px solid $base_color;
    background-color: transparent;
    padding: .625rem 2.5rem;
    &:hover{
        color: black;
        border: 3px solid black;
        background-color: $base_color;
    }
}

a{
    color: $base_color;
    text-decoration: none;
    &:hover{
        color: $base_color;
    }
}